{% extends "base.html" %}

{% block header %}
    <title>Contact</title>
{% endblock %}

{% block body %}
    <div class="container" style="margin-top: 2rem; align-items: center;">
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm justify-content-center" style="background-color: #ab1b23; border: 2px solid black; color: white; text-align: center; padding: 1rem;">
                <p>Reach us at:<br>edgucate2021@gmail.com</p>
            </div>
            <div class="col-sm"></div>
        </div>
    </div>
{% endblock %}