{% extends "base-logged-in.html" %}

{% block header %}
<title>Dashboard</title>
{% endblock %}

{% block body %}


    <div class="container">
      <div class="row">
        {% if numCourses == 0 %}
          <!-- Empty course list message -->
          <p style="text-align: center; margin: 2rem;">You aren't enrolled in any courses. Head to the Courses page to enroll.</p>
        {% else %}
          <!-- Course list -->
          {% for course in courses %}
            <div class="card" style="width: 18rem; margin: 1rem;">
              <a href="/course/courseId">
                <img src="/static/images/logo.webp" class="card-img-top" style="margin-top: 1rem;">
              </a>
              <div class="card-body">
                <h5 class="card-title">{{ course.name[:20] }}</h5>
                <p class="card-text" style="height: 4rem;">{{ course.description[:30] }}</p>
                <a href="/course/{{ course.courseId }}" class="btn btn-primary">View Course</a>
              </div>
            </div>
          {% endfor %}
        {% endif %}
    </div>
{% endblock %}