{% extends "base-logged-in.html" %}

{% block header %}
<title>Search</title>

{% endblock %}

{% block body %}
    <div class="container" style="padding-top: 1rem;">
        <input class="form-control" id ="search-bar" type="text" placeholder="Enter search query..." style="width: 30vw; margin-bottom: 1rem;">
        
            <input type="checkbox" id="courses" name="courses" value="courses">
            <label for="vehicle1"> Courses</label><br>
            <input type="checkbox" id="modules" name="modules" value="modules">
            <label for="vehicle2"> Modules</label><br>
            <input type="checkbox" id="assignments" name="assignments" value="assignments">
            <label for="vehicle3"> Assignments</label><br><br>

        <button type="button" id="search" class="btn btn-success">Search</button>
    </div>

    <script src="{{url_for('static', filename='js/search.js')}}"></script>

{% endblock %}