{% extends "base.html" %}

{% block header %}
<title>Adeel Academy | Sign Up</title>
{% endblock %}

{% block body %}
  <!-- Header -->
  <header class="header">
      <nav class="flex flex-jc-sb flex-ai-c">
        <a href="/" class="header__logo">
          <img src="{{url_for('static', filename='images/logo.webp')}}"alt="Logo">
        </a>
      </nav>
  </header>

        
  <!-- User Input -->
  <form action="" method="post" novalidate>
    <p>
      {{ form.name.label }}<br>
      {{ form.name(size=32) }}<br>
      {% for error in form.name.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>

    <p>
        {{ form.email.label }}<br>
        {{ form.email(size=32) }}<br>
        {% for error in form.email.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(size=32) }}<br>
        {% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>

    <p>
      {{ form.role.label }}<br>
      {{ form.role}}<br>
      {% for error in form.role.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}

    </p>

  </br>

    <p>{{ form.submit() }}</p>
  </form> 
  
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  {% endwith %}


  <p style="text-align: center;">Already have an account?</p>
  <div style="text-align: center;">
      <a href="{{ url_for('log_in') }}" style="color: blue;">Log In</a>
  </div>

  <script src="{{url_for('static', filename='js/sign-up.js')}}"></script>


{% endblock %}
